
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
    background-color: #080707;
  }
    /* estilização dos botões da tab on top */ 
:global(.vtex-button) {
    background-color: black;
    text-decoration-color: white;
    margin-top: none;
    border-style: hidden;
} 
   /* mudando a cor da fonte do tab-layout) */
:global(.vtex-button__label){
    color:white;
}

    /* background cinza da home por trás do slider layout  */
:global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    background-color: #303030;
}
    /* imagem arredondada do slider layout */
:global(.vtex-store-components-3-x-imageElement) {
    border-radius: 40px;
}

:global(.vtex-store-components-3-x-logoImage) {
   width: 40%;
   height: 70%;
}
    /* estilização do header input */
:global(.vtex-store-components-3-x-suffixWrapper) {
    background-color: black;
}
:global(.vtex-input__suffix) {
    background-color: black;
}
:global(.vtex-styleguide-9-x-input ) {
    background-color: black;
    width: 1000px;
}
  /* largura do slider-layout*/ 
:global(.vtex-slider-layout-0-x-sliderTrackContainer) {
    width: 1000px;
}

 /* coloração e tamanho de font do rich text(voce está vendo provas de )*/
:global(.vtex-rich-text-0-x-paragraph) {
    font-size: 1rem;
    font-weight: 500;
    color: #59ff00;
    background-color: #303030;
}
 /* background color da parte de trás da div do rich text ( voce está vendo provas de ) */
:global(.vtex-rich-text-0-x-container) {
    background-color: #303030;
}

:global(.vtex-tab-layout-0-x-container) {
    background-color: black;
}

/* background do search-result */
:global(.vtex-search-result-3-x-searchResultContainer){
    background-color: #303030;
    max-width: 100%;
}

:global(.vtex-button__label){
    padding-right: 900px
}