.vtex-product-summary-2-x-element {
    background-color: chartreuse;
}

.vtex-product-summary-2-x-clearLink {
    background-color: chartreuse;
}

.vtex-product-summary-2-x-container , .vtex-product-summary-2-x-containerNormal {
    background-color: chartreuse;
}